<!DOCTYPE html>
<html lang="en">

<head>
  <title>List It!</title>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />


  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/lists.css" type="text/css" />
  <link rel="stylesheet" href="/styles/todo-boxes.css" type="text/css" />

  <!-- External Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Arvo|Modak&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro|Patua+One|Prompt&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Chicle|Leckerli+One&display=swap" rel="stylesheet">

</head>

<body>
  <!-- Top nav bar (fixed) -->

  <nav>
    <% include ../views/partials/_navbar %>
  </nav>

  <main class="container">

    <header class="siteheader">
      <h2 class="headingtext">Add what interests you!</h2>

        <form id = "searchvalue" action="/api/search" method="GET">
          <textarea class="input" rows="1" name="queryparams" placeholder="What are you interested in?"></textarea><input id="navbutton" type="submit" width = 20px value="Find It!">
      </form>

    </header>


    <div class="columnheader">
        <h2 id="mylist">My List</h2>

      </div>

    <div class="columns">

      <div class="column">

        <div class="category">
            <!-- <a href="/search"><p>Link to Results Page</p></a>
            <a href="/login"><p>Link to login page</p></a> -->
          <h3>Things to Watch</h3>

                    <% for(let film in films) { %>
                      <article class="itembody">
                        <input type="checkbox" name="checkboxG1" id="checkboxG1" class="css-checkbox" onchange="confirm(this)"/>   <label for="checkboxG1" class="css-label"><%= films[film].film_title %></label><br>
                        <span>Genre: <%= films[film].genre %></span><br>
                        <span>Rating: <img src="/pics/star.gif"> <%= films[film].imdb_rating %>/10 (via <a href="http://www.imdb.com">IMDB</a>)</span><br>
                        <span><%= films[film].film_poster %></span><br>
                        <span><a href="/index"><form method="POST" action="/films/<%= film %>/delete"><button type="submit" class="remove">Remove from My List</button></form></a></span>
          </article>
          <% } %>

        </div>

        <div class="category">
          <h3>Your To-Read Pile</h3>
                    <% for(let book in books) { %>
                      <article class="itembody">
                        <input type="checkbox" name="checkboxG1" id="checkboxG1" class="css-checkbox"/>
                        <label for="checkboxG1" class="css-label">  <%= books[book].book_title %></label><br>
                        <span>Author: <%= books[book].author %></span><br>
                        <span>Rating: <img src="/pics/star.gif"> <%= books[book].book_rating %> stars (via <a href="http://www.goodreads.com">Goodreads</a>)</span><br>
                        <span>Length: <%= books[book].page_count %> pages</span><br>
                        <span><a href="/index"><form method="POST" action="/books/<%= book %>/delete"><button type="submit" class="remove">Remove from My List</button></form></a> </span>

                      </article>
                    <% } %>
        </div>

      </div>
      <div class="column">

        <div class="category">
          <h3>Places to Eat</h3>

                    <% for(let restaurant in restaurants) { %>
                      <article class="itembody">
                          <input type="checkbox" name="checkboxG1" id="checkboxG1" class="css-checkbox"/>
                          <label for="checkboxG1" class="css-label"> <%= restaurants[restaurant].restaurant_name %></label> <br>
                        <span>Address: <%= restaurants[restaurant].address %></span><br>
                        <span>Type of food: <%= restaurants[restaurant].type_of_food %></span><br>
                        <span>Rating: <img src="/pics/star.gif"> <%= restaurants[restaurant].restaurant_rating %> stars (via <a href="http://wwww.yelp.com">Yelp</a>)</span><br>
                        <div class="article-footer">
                        <span><a href="/edit"><form method="POST" action="/restaurants/<%= restaurant %>/edit"><button type="submit" class="edit">Edit This Item</button></form></a>

                        <a href="/index"><form method="POST" action="/restaurants/<%= restaurant %>/delete"><button type="submit" class="remove">Remove from My List</button></form></a></span>
                        </div>
                      </article>
                    <% } %>
        </div>

        <div class="category">
          <h3>Your Product Wishlist</h3>
                    <% for(let product in products) { %>
                      <article class="itembody">
                          <input type="checkbox" name="checkboxG1" id="checkboxG1" class="css-checkbox"/>
                          <label for="checkboxG1" class="css-label"><span><%= products[product].product_name %></span>
                        <span><%= products[product].product_image %> </span> <br>
                        <span>Price: $<%= products[product].price %></span><br>
                        <span><%= products[product].type %></span><br>
                        <span><a href="/index"><form method="POST" action="/products/<%= product %>/delete"><button type="submit" class="remove">Remove from My List</button></form></a></td>
                      </article>
                    <% } %>

        </div>
      </div>
    </div>
  </main>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</html>
