<!DOCTYPE html>
<html lang="en">

<head>
  <title>List It!</title>

  <!-- External Styles -->

  <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List It!</title>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">

  <link rel="stylesheet" href="../vendor/normalize-4.1.1.css" type="text/css" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/lists.css" type="text/css" />
  <link rel="stylesheet" href="/styles/todo-boxes.css" type="text/css" />

  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/scripts.js"></script>

  <!-- External Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Arvo|Modak&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro|Patua+One|Prompt&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Chicle|Leckerli+One&display=swap" rel="stylesheet">

</head>

<body>
  <!-- Top nav bar (fixed) -->

  <nav>
      <% include ../views/partials/_navbar %>
    </nav>

    <main class="container">

      <header class="siteheader">
        <h2 class="headingtext">Add what interests you!</h2>

        <form id="searchvalue" action="/api/search" method="GET">
          <textarea class="input" rows="1" name="queryparams" placeholder="What are you interested in?"></textarea><input
            id="navbutton" type="submit" width=20px value="Find It!">
        </form>

      </header>


    <div class="columnheader">
      <h2 id="mylist">Search Results</h2>
    </div>
    <div class="columns">
      <div class="searchresult">
        <h2>Search Results</h2>



          <article class="category">
              <div class="itemheader">

                  <span><%= title %></span>


                  <form action="/api/users/index" method="POST">
                    <input type="hidden" id="title" name="searchInput" value="<%= title %>">
                    <input type="hidden" id="type" name="searchType" value=<%= type %>>

                    <button id="add" type="submit">
                      <h4>Add to My List!</h4>
                    </button>
                  </form>

                </div>

              <div class="itembody">
                <span>Genre: <%= genre %></span><br>
                <span>Rating: <img src="/pics/star.gif"> <%= rating %>/10 (via <a
                    href="http://www.imdb.com">IMDB</a>)</span><br>
                <span><img class="poster" src=<%= poster %>></span><br>
              </div>

            </article>




<!--
        <article class="category">
          <div class="itemheader">

              <span><%= title %></span>


              <form action="/api/users/index" method="POST">
                <input type="hidden" id="title" name="searchInput" value="<%= title %>">
                <input type="hidden" id="type" name="searchType" value=<%= type %>>

                <button id="add" type="submit" class="btn btn-primary">
                  <h4>Add to My List!</h4>
                </button>
              </form>

            </div>

          <div class="itembody">
            <span>Genre: <%= genre %></span><br>
            <span>Rating: <img src="/pics/star.gif"> <%= rating %>/10 (via <a
                href="http://www.imdb.com">IMDB</a>)</span><br>
            <span><img class="poster" src=<%= poster %>></span><br>
          </div>

        </article>
 -->





      </div>

    </div>

    </div>
    <!-- Populate data here - "add to list" functionality, etc.  -->

    </div>
  </main>
</body>

</html>
